<form class="login-form" #loginForm="ngForm" (ngSubmit)="loginUser()" [style.fontSize.px]="20">
  <div class="login-block">
    <div class="row">
      <h3>Login User</h3>
    </div>

    <div class="row">
      <mat-form-field class="login-input-full-width">
        <input
          id="userId"
          placeholder="User ID"
          matInput
          name="userId"
          [(ngModel)]="newUser.userId"
          required
          minlength="5"
          maxlength="10"
          #userId="ngModel">
      </mat-form-field>

      <mat-form-field class="login-input-full-width">
        <input
          id="password"
          placeholder="Password"
          matInput
          name="password"
          [(ngModel)]="newUser.password"
          required
          #password="ngModel">
      </mat-form-field>
    </div>

    <div class="row">
      <button class="login-user" mat-raised-button color="primary" type="submit">Login</button>
      <button class="register-button" mat-raised-button color="primary" [routerLink]="['/register']">Register</button>
    </div>

  </div>
</form>